<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="topic-stories">
        <h1>Your stories</h1>
        <%= link_to "Write a story", new_post_path, class: 'btn btn-dark' %>
      </div>
      <div class="stories-status s-hr">
      <%= link_to 'Private', 'javascript:;' , class: "private-btn" %>
      <%= link_to 'Public', 'javascript:;' , class: "public-btn" %>
      </div>

      <div id="posts">

        <div class="post-status-private">

          <% check_posts_values = @posts.map { |post| post.published }.uniq %>
        
          <% if (check_posts_values.first == true) && (check_posts_values.length == 1) %>
            <p>You have no stories.</p>
            <p>Write a story or read one.</p>
          <% end %>

          <% @posts.each do |post| %>
            <% if !post.published %>
            <div class="card-post s-hr">
              <h4><%= post.title.capitalize %></h4>
              <p>· <%= post.created_at.strftime("%B %d, %Y") %></p>
              <%= link_to 'PUBLISH', post_path(post), method: :put, class: 'btn btn-dark' %>
            </div>
            <% end %>
          <% end %>

        </div>
        
        <div class="post-status-public">
          
          <% @posts.each do |post| %>
            <% if post.published %>
              <h4><%= post.title %></h4>
              <p>· <%= post.created_at.strftime("%Y-%m-%d") %></p>
              <span><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></span>
              <div class="s-hr"></div>
            <% end %>
          <% end %>
        </div>

          

      </div>

    </div>
  </div>
</div>