<div class="container">
  <div class="row mt-4">
    <div class="col-sm-8 offset-sm-2">

      <div id="post-content">
        <h1><%= @post.title %></h1>
        <p><%= @post.content %></p>

        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
        <% else %>
          <%= button_to 'Like', post_likes_path(@post), method: :post %>
        <% end %>
        <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

        <h3>Reviews</h3>
        <hr>
        <% @post.reviews.each do |review| %>
          <p><%= review.body %></p>
          <hr>
        <% end %>
      </div>

      <%= link_to 'Write a review',  new_post_review_path(@post) %>

    </div>
  </div>
</div>
